@import '../../../../theme/variables.scss';

.job {
  position: relative;
  display: block;
  text-decoration: none !important;
  // overflow: hidden;

  img {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 20px 0 20px 30px;
  }

  .content {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(100% - 160px);
    height: 80px;
    margin: 20px 30px 20px 20px;

    > div {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .title {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .controls {
    position: absolute;
    display: none;//display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    top: 0;
    bottom: 0;
    right: 0;//-150px;
    padding: 0 30px;
    background-color: rgba(255,255,255,0.75);
    // transition: right 0.3s ease;

    button {
      padding: 4px 12px;
      margin: 5px 0;
    }
  }

  + .job {
    .controls {
      border-top: 1px solid $border-color;
    }
  }

  + .job::before {
    content: '';
    display: block;
    border-top: 1px solid $border-color;
    margin: 0 30px;
  }
}

a.job:hover {
  background-color: $list-item-hover-color;

  .controls {
    display: flex;//right: 0;
  }
}

a.job:hover::before,
a.job:hover + .job::before {
  margin: 0;
}

.job.closed {
  background-color: $list-item-disabled-color;

  img, .content {
    opacity: 0.5;
  }

  .title {
    text-decoration-line: line-through;
  }
}

.job.closed::before,
.job.closed + .job::before {
  margin: 0;
}

div.job > div {
  position: relative;
  height: 120px;
}
