{% extends "mjp_base.html" %}

{% block content %}
	<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
							My Job Applications & Messages
                        </h1>
						<div class="row">
										<div class="table-responsive">
											<table class="table table-hover" id="list-table">
												<thead>
													<tr>
														<th>Job Applied For</th>
                                                        <th class="business-link">Applicant</th>
														<th>Message</th>
													</tr>
												</thead>
												<tbody>
													
												</tbody>
											</table>
										</div>
									</div>
						
                        
                    </div>
                </div>
                <!-- /.row -->
               

            </div>
            <!-- /.container-fluid -->

{% endblock %}
{% block pagescripts %}

	<script src="/static/web/js/mjp-scripts/applications.js"></script>
	
{% endblock %}