{% extends "mjp_base.html" %}

{% block content %}
<!-- Marketing Icons Section -->
        <div class="row need-details-box">
            <div class="col-md-6 col-md-offset-3 business-link">
                <div class="need-staff-box">
                	<img class="need-staff-header-image" src="/static/web/design/images/need-staff-icon.png">
                    <h3 class="need-staff-header-title">I Need Staff</h3>
                	<div class="row">
                    	<a href="/applications/">
                            <div class="col-sm-6 content-squares">
                                <div class="background-trans">
                                    <img src="/static/web/design/images/create-icon.png" class="create-icon">
                                    <h3>Applications</h3>
                                </div>
                            </div>
                        </a>
                        <a href="/profile/list-businesses/">
                            <div class="col-sm-6 content-squares">
                                <div class="background-trans">
                                    <img src="/static/web/design/images/add-icon.png" class="recording-icon">
                                    <h3>Add a Company</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/profile/create-job/">
                            <div class="col-sm-6 content-squares">
                                <div class="background-trans">
                                    <img src="/static/web/design/images/add-icon.png" class="add-icon">
                                    <h3>Add a Job</h3>
                                </div>
                            </div>
                        </a>
                        <a href="/profile/list-businesses/">
                            <div class="col-sm-6 content-squares">
                                <div class="background-trans">
                                    <img src="/static/web/design/images/search-icon.png" class="search-icon">
                                    <h3>Find staff</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3 job-seeker-link">
                <div class="need-job-box">
                	<img class="need-job-header-image" src="/static/web/design/images/need-job-icon.png">
                    <h3 class="need-job-header-title">Find A Job</h3>
                	<div class="row">
                    	<a href="/profile/edit-job-seeker/">
                            <div class="col-sm-6 content-squares">
                                <div class="background-trans">
                                    <img src="/static/web/design/images/create-icon.png" class="create-icon">
                                    <h3>Edit<br>my profile</h3>
                                </div>
                            </div>
                        </a>
                        <a href="/profile/edit-pitch/">
                            <div class="col-sm-6 content-squares">
                                <div class="background-trans">
                                    <img src="/static/web/design/images/recording-icon.png" class="recording-icon">
                                    <h3>Record<br>my pitch</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="row">
                    	<a href="">
                            <div class="col-sm-6 content-squares">
                                <div class="background-trans">
                                    <img src="/static/web/design/images/add-icon.png" class="add-icon">
                                    <h3>Placeholder</h3>
                                </div>
                            </div>
                        </a>
                        <a href="/jobs/">
                            <div class="col-sm-6 content-squares">
                                <div class="background-trans">
                                    <img src="/static/web/design/images/search-icon.png" class="search-icon">
                                    <h3>Find a job</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
	</div>
{% endblock %}