<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/web/design/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/web/design/css/mjp.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/web/design/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
    	<div class="container">
            <div class="navbar-header row">
              <a class="navbar-brand col-md-3" href="#"><img src="/static/web/design/images/logo.png"></a>
        	  <div class="center-section-header col-md-6">Do you want to make a pitch?<a class="btn btn-custom">Create my Pitch</a></div>
              <div class="col-md-3 menu-container">
                  <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
              </div>
            </div>
            <div class="navbar-collapse collapse always-collapse">
              <ul class="nav navbar-nav">
                <li><a href="#">Create profile</a></li>
                <li><a href="#">Record my pitch</a></li>
                <li><a href="#">Company</a></li>
                <li><a href="#">Individuals</a></li>
                <li><a href="#">Vacancies</a></li>
                <li><a href="#">Location</a></li>
                <li><a href="#">Information</a></li>
                <li><a href="#">About</a></li>
				<li><a href="#">Terms and Conditions</a></li>
              </ul>
            </div>
        </div>
    </nav>
	<div class="message-get-app"><p class="get-app-text">Download the app: <a href="#">Android</a> / <a href="#">Apple</a></p></div>
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

		<div class="above-slide-detail">
        	<img src="/static/web/design/images/logo-slide.png">
            <div class="buttons-slide">
            	<a href="#" class="btn btn-home-login">Login</a>
            	<a href="#" class="btn btn-home-reg">Registration</a>
            </div>
        </div>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('/static/web/design/images/slide-1.jpg');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/static/web/design/images/slide-1.jpg');"></div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"><img src="/static/web/design/images/prev-arrow.png"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"><img src="/static/web/design/images/next-arrow.png"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row need-details-box">
            <div class="col-md-6">
                <div class="need-staff-box">
                	<img class="need-staff-header-image" src="/static/web/design/images/need-staff-icon.png">
                    <h3 class="need-staff-header-title">I Need Staff</h3>
                	<div class="row">
                    	<div class="col-sm-6 content-squares">
                            <div class="background-trans">
                                <img src="/static/web/design/images/create-icon.png" class="create-icon">
                                <h3>Create<br>my company's profile</h3>
                            </div>
                        </div>
                        <div class="col-sm-6 content-squares">
                            <div class="background-trans">
                                <img src="/static/web/design/images/recording-icon.png" class="recording-icon">
                                <h3>Record<br>company's pitch</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-6 content-squares">
                            <div class="background-trans">
                                <img src="/static/web/design/images/search-icon.png" class="search-icon">
                                <h3>Find a Resume</h3>
                            </div>
                        </div>
                        <div class="col-sm-6 content-squares">
                            <div class="background-trans">
                                <img src="/static/web/design/images/add-icon.png" class="add-icon">
                                <h3>Add a Job</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="need-job-box">
                	<img class="need-job-header-image" src="/static/web/design/images/need-job-icon.png">
                    <h3 class="need-job-header-title">Get A Job</h3>
                	<div class="row">
                    	<div class="col-sm-6 content-squares">
                        	<div class="background-trans">
                                <img src="/static/web/design/images/create-icon.png" class="create-icon">
                                <h3>Create<br>my profile</h3>
                            </div>
                        </div>
                        <div class="col-sm-6 content-squares">
                        	<div class="background-trans">
								<img src="/static/web/design/images/recording-icon.png" class="recording-icon">
                            	<h3>Record<br>my pitch</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 content-squares">
	                        <div class="background-trans">
								<img src="/static/web/design/images/add-icon.png" class="add-icon">
        	                    <h3>Add my resume</h3>
                            </div>
                        </div>
                        <div class="col-sm-6 content-squares">
                        	<div class="background-trans">
 								<img src="/static/web/design/images/search-icon.png" class="search-icon">
                            	<h3>Find a job</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
	</div>
    <div class="container-fluid full-width-mjp">
        <!-- Portfolio Section -->
        <div class="row video-background-row">
        	<div class="container">
                <div class="col-md-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-hover" src="/static/web/design/images/video-placeholder.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-hover" src="/static/web/design/images/video-placeholder.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer class="mjp-footer">
            <div class="row">
            	<div class="container">
                    <div class="col-md-2">
                        <img src="/static/web/design/images/logo-footer.png">
                    </div>
                    <div class="col-md-offset-2 col-md-4">
                        <div class="center-contact-details-footer">
                        	<p>
                            tel: 123 456 789<br>
                            <span class="email">e-mail: email@mjp.com</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                    	<div class="social-icons-footer">
                        	<a href="#"><img src="/static/web/design/images/fb-icon.png"></a>
                            <a href="#"><img src="/static/web/design/images/twitter-icon.png"></a>
                            <a href="#"><img src="/static/web/design/images/yt-icon.png"></a>
                            <a href="#"><img src="/static/web/design/images/linkedin-icon.png"></a>
                            <a href="#"><img src="/static/web/design/images/gplus-icon.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/web/design/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/web/design/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
