{% extends "mjp_base.html" %}

{% block content %}
	<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        
                        <div class="col-lg-4">
                        	<div class="job-details-messages" style="display:none;">
                                <h3 class="page-header">
                                    Job Details:
                                </h3>
                                <img src="/static/web/images/no_image_available.png" class="job-image-messages" />
                                <p><strong>Title:</strong> <span id="job-title-single" class="message-job-details">&nbsp;</span><br />
                                <strong>Contract:</strong> <span id="contract-type-single" class="message-job-details">&nbsp;</span><br />
                                <strong>Hours:</strong> <span id="job-hours-single" class="message-job-details">&nbsp;</span><br />
                                <strong>Sector:</strong> <span id="job-sector-single" class="message-job-details">&nbsp;</span></p>
                                <h3 class="page-header">
                                    Work Place Details:
                                </h3>
                                <p><strong>Name:</strong> <span id="location-name-single" class="message-job-details">&nbsp;</span><br />
                                <strong>Description:</strong> <span id="location-description-single" class="message-job-details">&nbsp;</span><br />
                                <strong>Address:</strong> <br />
                                <span id="location-address-single" class="message-job-details">&nbsp;</span><br />
                                <span id="location-place-name-single" class="message-job-details">&nbsp;</span><br />
                                <div id="map"></div>
                                </p>
                            </div>
                            <div class="job-seeker-details-messages" style="display:none;">
                            	<h3 class="page-header">
                                    Job Seeker Details:
                                </h3>
                                <span id="job-seeker-pitch"></span>
                                <br />
                                <p><strong>Name:</strong> <span id="job-seeker-name"></span></p>
                                <p><strong>Description:</strong> <span id="job-seeker-description"></span></p>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <h1 class="page-header">
                                Messages
                            </h1>
                            <div class="row">
                                
                                <div class="table-responsive">
                                    <table class="table table-hover" id="list-table">
                                        <thead>
    
                                        </thead>
                                        <tbody>
                                                    
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="new-message">
                                    <form id="send-messages" action="/api/messages">
                                        <textarea class="form-control" rows="3" name="content" id="content-form" style="resize: none;"></textarea>
                                        <br />
                                        <div class="form-group">
                                             <button type="submit" class="btn btn-default">Send</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- /.row -->
               

            </div>
            <!-- /.container-fluid -->

{% endblock %}
{% block pagescripts %}
	
    <!-- Google Maps -->
    
    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9R1zxiZdbrE8tcoOVFAw1pCjd-tb11vE">
    </script>
    
	<script src="/static/web/js/mjp-scripts/messages.js"></script>
	
    
    
{% endblock %}