{% extends "mjp_base.html" %}


{% block navigation-menu %}
<ul class="nav navbar-nav navbar-right">
  <li class="job-seeker-link"><a href="/find-jobs/">Find Jobs</a></li>
  <li class="business-link"><a href="/find-talent/">Find Talent</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">How it Works <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
    <ul class="dropdown-menu">
      <div class="arrow-up"></div>
      <li><a href="/howitworks/job-seeker">Job Seeker</a></li>
      <li><a href="/howitworks/recruiter">Recruiter</a></li>
    </ul>
  </li>
  <li><a href="/about/">About</a></li>
  <li><a href="/terms-conditions/">Terms & Conditions</a></li>
  <li class="not-logged-in-menu"><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
  <li class="business-link job-seeker-link"><a href="javascript:logoutUser();">Log Out</a></li>
</ul>
{% endblock %}

{% block pagescripts %}
  <script src="/static/web/js/mjp-scripts/store/recruiter-store.js" async></script>
  <script src="/static/web/js/mjp-scripts/app.js" type="text/javascript" charset="utf-8" async></script>
{% endblock %}
