{% extends "mjp_base.html" %}

{% block content %}
	<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Registration 
                        </h1>
						
						<div class="col-lg-12">
						<div class="col-md-4 col-md-offset-4">
							
							<form role="form"  action="/api-auth/login/" method="post" id="register">
							
								<div class="alert" role="alert"></div>
								
								<div class="form-group">
									<label>Register Here</label>
									<input type="text" class="form-control" placeholder="Username" required minlength="6" maxlength="32" name="username" id="username">
								</div>
								
								<div class="form-group">
									<input type="password" class="form-control" placeholder="Password" required minlength="6" maxlength="64" name="password1" id="password1">
								</div>
								
								<div class="form-group">
									<input type="password" class="form-control" placeholder="Confirm Password" required minlength="6" maxlength="64" name="password2" id="password2">
								</div>
								
								<button type="submit" class="btn btn-primary">Register</button>
								{% csrf_token %}
							</form>
							
						</div>
					</div>
                        
                    </div>
                </div>
                <!-- /.row -->
               

            </div>
            <!-- /.container-fluid -->

{% endblock %}
{% block pagescripts %}

	<script src="/static/web/js/mjp-scripts/reg.js"></script>
	
{% endblock %}