{% extends "mjp_base.html" %}

{% block content %}
	<div class="container-fluid">

		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">


				<div class="col-lg-12">
					<div class="col-md-4 col-md-offset-4">
						<h1 class="page-header page-header-form">
							Job Details
						</h1>
						<div class="alert" role="alert"></div>

						<form role="form"  method="post" id="create-job" enctype="multipart/form-data">
							<div class="form-group">
								<label>Company:</label>
								<select class="form-control" required name="company" id="company" data-error-field="company">
									<option value="" selected="">Please Select</option>
								</select>
							</div>
							<div class="form-group" id="locationSelect">
								<label>Location:</label>
								<select class="form-control" required name="location" id="location" data-error-field="location">
									<option value="" selected="">Please Select</option>
								</select>
							</div>

							<div id="mainFormAreaCreateJob">
								<div class="form-group">
									<input type="text" class="form-control" required placeholder="Title" name="title" id="title" data-error-field="title">
								</div>

								<div class="form-group">
									<textarea type="text" class="form-control" required placeholder="Description" name="description" id="description" maxlength="500" data-error-field="description" rows="5"></textarea>
									<div id="textarea_feedback"></div>
								</div>

								<div class="form-group">
									<select class="form-control" required name="job_sector" id="job_sector" data-error-field="job_sector">
										<option value="" selected="">Job Sector</option>
									</select>
								</div>

								<div class="form-group">
									<select class="form-control" required name="contract" id="contract" data-error-field="contract">
										<option value="" selected="">Contract</option>
									</select>
								</div>

								<div class="form-group">
									<select class="form-control" required name="hours" id="hours" data-error-field="hours">
										<option value="" selected="">Hours</option>
									</select>
								</div>

								<div class="form-group">
									<label>Job Image:</label>
									<img src="" id="currentLogo" style="display:none;" />
									<p>If you do not wish to upload an image, your previously uploaded company logo will be used.</p>
									<input type="file" class="form-control" name="image" id="job_image" data-error-field="job_image" accept="image/x-png, image/jpeg, image/png">
									<input type="hidden" name="order" value="0">
								</div>

								<input type="hidden" name="job" id="job_id" value="0">

								<button type="submit" class="btn btn-primary form-buttons">Save</button>
							</div>
							{% csrf_token %}
						</form>

					</div>
				</div>

			</div>
		</div>
		<!-- /.row -->


	</div>
	<!-- /.container-fluid -->

{% endblock %}
{% block pagescripts %}

	<script src="/static/web/js/lodash.min.js"></script>
	<script src="/static/web/js/mjp-scripts/create-job.js"></script>

{% endblock %}