{% extends "mjp_user_base.html" %}


{% block page-title %}<h2 class="page-header">Profile Settings</h2>{% endblock %}


{% block content %}
  <div class="col-sm-7 col-sm-offset-1">
    <h3><strong>My Account Summary</strong></h3>

    <!-- Page Heading -->
    <div class="row">
      <div class="col-sm-12">
        <form role="form" method="post" id="profile" enctype="multipart/form-data">
          <div class="alert" role="alert"></div>

          <div class="form-group">
            <label>Profile:</label>
              <input type="text" class="form-control" required placeholder="First Name" name="first_name" id="first_name" data-error-field="first_name">
          </div>

          <div class="form-group">
              <input type="text" class="form-control" required placeholder="Last Name" name="last_name" id="last_name" data-error-field="last_name">
          </div>

          <div class="form-group">
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Email (optional)" name="email" id="email" data-error-field="email">
            </div>
            <div class="col-md-2">
              <label class="checkbox-inline">
                <input type="checkbox" id="email_public" name="email_public" value="true" checked> Public
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Telephone (optional)" name="telephone" id="telephone" data-error-field="telephone">
            </div>
            <div class="col-md-2">
              <label class="checkbox-inline">
                <input type="checkbox" id="telephone_public" name="telephone_public" value="true" checked> Public
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Mobile (optional)" name="mobile" id="mobile" data-error-field="mobile">
            </div>
            <div class="col-md-2">
              <label class="checkbox-inline">
                <input type="checkbox" id="mobile_public" name="mobile_public" value="true" checked> Public
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Age (optional)" name="age" data-error-field="age" id="age">
            </div>
            <div class="col-md-2">
              <label class="checkbox-inline">
                <input type="checkbox" id="age_public" name="age_public" value="true" checked> Public
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10">
              <select class="form-control" data-error-field="sex" name="sex" id="sex">
                <option value="" selected="">Sex (optional)</option>
              </select>
            </div>
            <div class="col-md-2">
              <label class="checkbox-inline">
                <input type="checkbox" id="sex_public" name="sex_public" value="true" checked> Public
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10">
              <select class="form-control" data-error-field="nationality" name="nationality" id="nationality">
                <option value="" selected="">Nationality (optional)</option>
              </select>
            </div>
            <div class="col-md-2">
              <label class="checkbox-inline">
                <input type="checkbox" id="nationality_public" name="nationality_public" value="true" checked> Public
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>Upload CV:</label>
              <input type="file"  data-error-field="cv" class="form-control" name="cv" id="cv_upload">
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <textarea class="form-control" placeholder="Description (Required) - Tell us a little about you in less than 50 words. For example, work experience and personality." required="required" data-error-field="description" name="description" id="description" maxlength="250" rows="4"></textarea>

            </div>
            <div id="textarea_feedback"></div>
          </div>

          <button type="submit" class="btn btn-primary">Continue</button>

          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>

{% endblock %}


{% block pagescripts %}

  <script src="/static/web/js/mjp-scripts/create-profile-job-seeker.js"></script>

{% endblock %}