{% extends "mjp_user_base.html" %}


{% block extra_head %}
    <link href="/static/web/design/css/sumoselect.css" rel="stylesheet">
    <link href="/static/web/design/css/mjp-sumoselect.css" rel="stylesheet">
{% endblock %}


{% block page-title %}
<div class="row page-title">
  <div class="col-xs-12">
    <h2><strong>Job Match Profile</strong></h2>
    <a href="/profile/" class="sclabs-theme"><h5>View my profile</h5></a>
  </div>
</div>
{% endblock %}


{% block content %}
  <div class="col-xs-7 match-profile content">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form role="form" method="post" id="job-preferences">
                <div class="alert" role="alert"></div>

                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label>Sector</label>
                      <select class="form-control" required name="sectors" multiple id="sectors">
                        <option value="" selected="">Choose a job sector</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label>Contract</label>
                      <select class="form-control" name="contract" id="contract">
                        <option value="" selected="">Any</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label>Hours</label>
                      <select class="form-control" name="hours" id="hours">
                        <option value="" selected="">Any</option>
                      </select>
                    </div>
                  </div>
                </div>

                <br />

                <div class="form-group">
                  <label>Search Area</label>
                  <p>In order to match you with jobs in your area, you must tell us your location, and specify the maximum distance to search.</p>
                </div>

                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <input type="text" class="form-control" required placeholder="Postcode" name="location" id="location">
                    </div>
                  </div>

                  <div class="col-xs-6">
                    <div class="form-group">
                      <select class="form-control" required name="search_radius" id="search_radius">
                        <option value="1">1 Miles</option>
                        <option value="2">2 Miles</option>
                        <option value="5" selected="">5 Miles</option>
                        <option value="10">10 Miles</option>
                        <option value="50">50 Miles</option>
                      </select>
                    </div>
                  </div>
                </div>

                <br />

                <div class="row">
                  <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary sclabs-theme">&nbsp;&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;&nbsp;</button>
                  </div>
                  <div class="col-xs-5 col-xs-offset-3 text-right">
                    <a class="sclabs-theme"><h5><strong>Cancel</strong></h5></a>
                  </div>
                </div>

                <input type="hidden" name="job_seeker" id="job_seeker" />
                <input type="hidden" name="latitude" id="latitude" />
                <input type="hidden" name="longitude" id="longitude" />
                <input type="hidden" name="place_name" id="place_name" />
                <input type="hidden" name="postcode_lookup" id="postcode_lookup" />
                {% csrf_token %}
            </form>
        </div>
    </div><!-- /.row -->
</div><!-- /.container-fluid -->

{% endblock %}
{% block pagescripts %}

  <script src="/static/web/js/jquery.sumoselect.min.js"></script>
  <script src="/static/web/js/mjp-scripts/edit-job-preferences.js"></script>

{% endblock %}