{% extends "mjp_base.html" %}

{% block extra_head %}
	<!-- link href="/static/web/design/css/video-js.min.css" rel="stylesheet">
	<link href="/static/web/design/css/videojs.record.css" rel="stylesheet" -->
	<link href="/static/web/design/css/mediarecorderapi.css" rel="stylesheet">
{% endblock %}


{% block content %}
	<style>
		a#downloadLink {
		  display: block;
		  margin: 0 0 1em 0;
		  min-height: 1.2em;
		}
		p#data {
		  min-height: 6em;
		}
	</style>

	<div class="container-fluid">
		<!-- Page Heading -->
		<h1 class="page-header">Record a New Pitch</h1>

		<div class="row videoCheckEdit">
			<div class="col-lg-12">
				<h3>Your Current Pitch:</h3>
				<div id="pitchVideoCheck">
					<!-- video width="320" height="240" controls><source src="" type="video/mp4"></video -->
					<video  controls autoplay width="320" height="240"></video>
				</div>
			  <button class="btn btn-small btn-js-start-pitch">Record a new Pitch</button>
			  <button class="btn btn-small btn-js-stop-pitch" disabled>Stop</button>
			  <button class="btn btn-small btn-js-upload-pitch">Upload</button>
			</div>
			<a id="downloadLink" download="mediarecorder.webm" name="mediarecorder.webm" href></a>
			<p id="data"></p>
		</div>
		<div class="row">
			<div class="col-lg-6 col-centered">
				<p>Setting up your job pitch here are some tips from one of our recruiting pros:
					<br />
					<ul>
						<li>Dress smartly. You want to be taken seriously</li>
						<li>Be careful what is in the background. Nothing should distract from your pitch</li>
						<li>Record your pitch in a quiet location to avoid background noise</li>
					</ul>
					</p>
					<p>Recording your job pitch:
					<br />
					<ul>
						<li>Practise makes perfect – Record your pitch, play it back and perfect it. If in doubt, ask a friend</li>
						<li>Be positive, confident and look straight into the camera to make eye contact</li>
						<li>Be yourself, but don’t fidget such as waving your hands about in the air</li>
						<li>Stand or sit up straight which helps you breath more easily</li>
						<li>Don’t rush it and speak clearly</li>
						<li>Remember to smile!</li>
					</ul></p>
					<p>Remember you only have 30 seconds, so what to say?
					<br />
					<ul>
						<li>Your name and location</li>
						<li>Your personality</li>
						<li>Type of work you are looking for</li>
						<li>Relevant experience</li>
					</ul>
					Finish your pitch confidently by saying something like, “Thank you and I look forward to hearing from you”.
				</p>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->

{% endblock %}


{% block pagescripts %}
	<!-- script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

	<script src="/static/web/js/ScriptCam/scriptcam.js"></script -->


	<!-- script src="/static/web/js/video.min.js"></script>
	<script src="/static/web/js/RecordRTC.min.js"></script>
	<script src="/static/web/js/videojs.record.js"></script -->

	<script src="/static/web/js/aws-sdk-2.3.6.min.js"></script>
	<script src="/static/web/js/mjp-scripts/edit-pitch.js"></script>
	<script src="/static/web/js/mediarecorderapi.js"></script>
{% endblock %}