{% extends "mjp_base.html" %}

{% block page-title %}<h2 class="page-header">My Proposals</h2>{% endblock %}


{% block sidebar %}{% endblock%}

{% block content %}
  <div class="col-sm-12">
    <!-- Page Heading -->
    <div class="row">
      <!-- div class="col-sm-12">
        <h1 class="page-header">
        <a id="companyName" href="/profile/list-businesses/"></a> <span class="glyphicon glyphicon-chevron-right" style="font-size: 20px; top: -3px;"></span> <a id="locationName" href=""></a> <span class="glyphicon glyphicon-chevron-right" style="font-size: 20px; top: -3px;"></span> My Jobs
        </h1>
      </div -->

			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-12" id="no-items-create" style="display:none;">
						<div class="col-md-4 col-md-offset-4 text-center">
							<p>Please add jobs for this location.</p>
							<a href="" class="link-create-job btn btn-primary btn-lg btn-block">Add Job</a>
						</div>
					</div>
					<div class="col-lg-12" id="table-container" style="display:none;">
						<div class="row">
							<a class="link-create-job btn btn-primary ">Add Job</a>
						</div>
						<div class="row">
							<div class="table-responsive">
								<table class="table table-hover" id="list-table">
									<thead>
										<tr>
                      <th class="col-sm-2">Job Title</th>
											<th class="col-sm-2">Image</th>
											<th class="col-sm-2">Description</th>
                      <th class="col-sm-1">Job Status</th>
											<th class="col-sm-5">Actions</th>
										</tr>
									</thead>
									<tbody>

									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container-fluid -->

{% endblock %}
{% block pagescripts %}

	<script src="/static/web/js/mjp-scripts/list-jobs.js"></script>

{% endblock %}