{% extends "mjp_base.html" %}

{% block content %}
	<div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <a id="companyName" href="/profile/list-businesses/"></a> <span class="glyphicon glyphicon-chevron-right" style="font-size: 20px; top: -3px;"></span> My Recruitment Locations
                </h1>

    			<div class="col-lg-12">
					<div class="row">
						<a class="link-create-location btn btn-primary">Add Location</a>
					</div>
                    <div class="row">
                    	<p class="listDetails">Click on a recruitment location to add jobs for a business location. If you have multiple locations you can add them on this page using the Add Location button.</p>
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-hover" id="list-table">
                                <thead>
                                    <tr>
                                    	<th>Name</th>
                                        <th>Image</th>
                                        <th>Description</th>
                                        <th>No of Jobs</th>
                                        <th>Action</th>
                                	</tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
    			</div>

            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->

{% endblock %}
{% block pagescripts %}

	<script src="/static/web/js/mjp-scripts/list-locations.js"></script>

{% endblock %}