{% extends "mjp_base.html" %}

{% block content %}
	<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Your Companies
                        </h1>
						
						<div class="col-lg-12">
							<div class="row">
								<div class="col-lg-12">
									<div class="row">
										<div class="col-md-4 col-md-offset-4"><a href="/profile/create-business/" class="link-create-job btn btn-primary btn-lg btn-block">Add Company</a></div>
									</div>
									<div class="row">
										<div class="table-responsive">
											<table class="table table-hover" id="list-table">
												<thead>
													<tr>
														<th>Logo</th>
														<th>Name</th>
														<th>No of Locations</th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody>
													
												</tbody>
											</table>
										</div>
									</div>
								</div>
						</div>
                        
                    </div>
                </div>
                <!-- /.row -->
               

            </div>
            <!-- /.container-fluid -->

{% endblock %}
{% block pagescripts %}

	<script src="/static/web/js/mjp-scripts/list-businesses.js"></script>
	
{% endblock %}