{% extends "mjp_base.html" %}

{% block content %}
	<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Account Type
                        </h1>
						
						<div class="col-lg-12">
							<div class="col-md-4 col-md-offset-4">
								<a href="/profile/create-job-seeker" class="btn btn-primary btn-lg btn-block">I am a Job Seeker</a>
								<a href="/profile/create-business" class="btn btn-default btn-lg btn-block">I am an Employer</a>
							</div>
						</div>
                        
                    </div>
                </div>
                <!-- /.row -->
               

            </div>
            <!-- /.container-fluid -->

{% endblock %}