{% extends "mjp_user_base.html" %}


{% block page-title %}
<div class="row page-title">
  <div class="col-sm-12">
    <h2>Add Job</h2>
  </div>
</div>
{% endblock %}

{% block sidebar %}{% endblock %}


{% block content %}
  <div class="col-sm-12">
		<!-- Page Heading -->
		<div class="row page-subtitle">
			<div class="col-sm-12">
				<h3><strong>Job Details</strong></h3>
			</div>
		</div>

		<div class="row">
      <div class="col-sm-12">
  			<form class="form-horizontal dotted-line before" role="form-horizontal"  method="post" id="create-job" enctype="multipart/form-data">
  				<div class="form-group">
  					<label for="company" class="col-sm-3 control-label">Work Place</label>
            <div class="col-sm-5">
  						<select class="form-control" required name="company" id="company" data-error-field="company">
  							<option value="" selected="">Select Work Place</option>
  						</select>
            </div>
            <label class="control-label col-sm-3"><a href="/profile/add-work-place" class="sclabs-theme">Add Work Place</a></label>
  				</div>

  				<div class="form-group" id="locationSelect">
  					<label for="location" class="col-sm-3 control-label">Location</label>
            <div class="col-sm-5">
  						<select class="form-control" required name="location" id="location" data-error-field="location">
  							<option value="" selected="">Select Location</option>
  						</select>
            </div>
  				</div>

  				<div id="mainFormAreaCreateJob">
  					<div class="form-group">
              <label for="title" class="col-sm-3 control-label">Job Title</label>
              <div class="col-sm-5">
     						<input type="text" class="form-control" required placeholder="" name="title" id="title" data-error-field="title">
              </div>
  					</div>

  					<div class="form-group">
              <label for="description" class="col-sm-8 control-label">Description</label>
              <label class="col-sm-4 control-label">
              <span class="pitch-replay icon">&nbsp</span><span>Record Description</span>
              </label>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
    						<textarea type="text" class="col-sm-12 form-control" required placeholder="Description" name="description" id="description" maxlength="500" data-error-field="description" rows="5"></textarea>
    						<!-- div id="textarea_feedback"></div -->
              </div>
            </div>

  					<div class="form-group">
              <label for="hours" class="col-sm-3 control-label">Position</label>
              <div class="col-sm-5">
    						<select class="form-control" required name="hours" id="hours" data-error-field="hours">
    							<option value="" selected="">Please Select</option>
    						</select>
              </div>
    					<input type="hidden" name="job" id="job_id" value="0">
            </div>

            <div class="form-group footer">
              <div class="col-sm-3 col-sm-offset-4">
                <button type="submit" class="btn btn-primary sclabs-theme col-sm-12">&nbsp;&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;&nbsp;</button>
              </div>

              <div class="col-sm-3">
                <button class="btn btn-default sclabs-theme col-sm-12">Publish</button>
              </div>

              <div class="col-sm-2">
                <a href="/profile/add-work-place" class="btn sclabs-theme">Cancel</a>
              </div>

            </div>
  				</div>
  				{% csrf_token %}
  			</form>
        <div class="row">
          <!-- div class="alert" role="alert"></div -->
        </div>
      </div>

  	</div>
		<!-- /.row -->

	</div>

{% endblock %}
{% block pagescripts %}

	<script src="/static/web/js/lodash.min.js"></script>
	<script src="/static/web/js/mjp-scripts/create-job.js"></script>

{% endblock %}