{% extends "mjp_recruiter_dashboard.html" %}


{% block page-title %}
  <div class="row page-title">
      <h2>My Profile</h2>
  </div>
{% endblock %}


{% block content %}
  <div class="col-sm-12 profile-view page">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class=" col-sm-9 content">
            <div class="row">
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-3"><img /></div>
                  <div class="col-sm-9">
                    <h2><strong>Name Here</strong></h2>
                    <h4><strong>Job title would go here</strong></h4>
                    <h4 style="color:#777">New York, NY</h4>
                  </div>
                </div>
                <div class="row dotted-line">
                  <div class="col-sm-1 col-sm-offset-5 pitch-replay icon"></div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <h5><strong>Overview</strong></h5>
                    <p>Sed semper quam in volutpat posuere. Aliquam quis laoreet urna, sed consequat metus. Quisque in vestibulum felis, ac rutrum erat. Aenean at gravida massa. Nulla efficitur lacinia metus, pretium sollicitudin nunc posuere non. Vivamus id nibh ex. Nam urna quam, ornare a interdum nec, lobortis a elit. Praesent sit amet risus elit. Quisque tristique metus lorem, in consequat diam consequat ac. Pellentesque ac accumsan nisl. Vivamus dictum velit non velit mollis, a semper ex venenatis. Nunc facilisis mauris eu pulvinar semper. Aenean dapibus dictum orci, vulputate vulputate tellus commodo quis. Donec tincidunt ultricies maximus. Nulla facilisi.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" col-sm-3 sidebar">
            <div class="row  ">
              <a href="/profile/edit-job-seeker/" class="btn btn-primary sclabs-theme col-sm-12"><strong>Edit Profile</strong></a>
            </div>
            <div class="row business-link">
              <a href="/profile/edit-job-seeker/" class="btn btn-primary sclabs-theme col-sm-12"><strong>Buy Tokens</strong></a>
            </div>
            <div class="row business-link">
              <a href="/profile/edit-job-seeker/" class="btn btn-primary sclabs-theme col-sm-12"><strong>Upgrade</strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block sidebar %}
{% endblock %}

{% block pagescripts %}
  <script src="/static/web/js/lodash.min.js"></script>
  <script src="/static/web/js/mjp-scripts/inbox.js"></script>
{% endblock %}
