{% extends "mjp_recruiter_dashboard.html" %}

{% block page-title %}
<div class="row page-title">
  <div class="col-xs-12">
    <h2><strong>Profile Settings</strong></h2>
    <a href="/profile/" class="sclabs-theme"><h5>View my profile</h5></a>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="col-xs-9 profile content">
    <!-- Page Heading -->
    <div class="row">
      <div class="col-xs-10">
        <h3><strong>My Account Summary</strong></h3>
      </div>
      <div class="col-xs-2 text-right">
        <h6><strong>Public</strong></h6>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <form class="form-horizontal" role="form"  method="put" id="profile" enctype="multipart/form-data">
          <div class="form-group row">
            <div class="col-xs-12 dotted-line both">
              <div class="row">
                <label for="email" class="col-xs-4 control-label">Company Email</label>
                <div class="col-xs-5">
                  <input type="text" class="form-control"  data-error-field="email" placeholder="Email (optional)" name="email" id="email">
                </div>
                <div class="col-xs-3">
                  <div class="checkbox checkbox-slider--b checkbox-slider-md sclabs-theme pull-right">
                    <label>
                      <input type="checkbox" id="email_public" name="email_public" value="true" checked><span></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 dotted-line after">
              <div class="row">
                <label class="col-xs-4">Profile Completeness</label>
                <div class="col-xs-5">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                      <span class="sr-only">60% Complete</span>
                    </div>
                  </div>
                </div>
                <label class="col-xs-1">60%</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <h3><strong>My Profile</strong></h3>
            </div>
          </div>

          <div class="form-group row">
            <label for="first_name" class="col-xs-4 control-label">First Name</label>
            <div class="col-xs-5">
              <input type="text" class="form-control" required placeholder="First Name" name="first_name" id="first_name" data-error-field="first_name">
            </div>
            <div class="col-xs-3">
              <div class="checkbox checkbox-slider--b checkbox-slider-md sclabs-theme pull-right">
                <label>
                  <input type="checkbox" id="first_name_public"name="first_name_public" value="true" checked><span></span>
                </label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="last_name" class="col-xs-4 control-label">Last Name</label>
            <div class="col-xs-5">
              <input type="text" class="form-control" required placeholder="Last Name" name="last_name" id="last_name" data-error-field="last_name">
            </div>
            <div class="col-xs-3">
              <div class="checkbox checkbox-slider--b checkbox-slider-md sclabs-theme pull-right">
                <label>
                  <input type="checkbox" id="last_name_public"  name="last_name_public" value="true" checked><span></span>
                </label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="title" class="col-xs-4 control-label">Title</label>
            <div class="col-xs-5">
              <input type="text" class="form-control" required placeholder="Title" name="title" id="title" data-error-field="title">
            </div>
            <div class="col-xs-3">
              <div class="checkbox checkbox-slider--b checkbox-slider-md sclabs-theme pull-right">
                <label>
                  <input type="checkbox" id="title_public" name="title_public" value="true" checked><span></span>
                </label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="telephone" class="col-xs-4 control-label">Telephone (optional)</label>
            <div class="col-xs-5">
              <input type="text" class="form-control" placeholder="Telephone (optional)" data-error-field="telephone" name="telephone" id="telephone">
            </div>
            <div class="col-xs-3">
              <div class="checkbox checkbox-slider--b checkbox-slider-md sclabs-theme pull-right">
                <label>
                  <input type="checkbox" id="telephone_public" name="telephone_public" value="true" checked><span></span>
                </label>
              </div>
            </div>
          </div>

          {% csrf_token %}

          <br >

          <div class="row">
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary sclabs-theme" name="_method" value="PUT">&nbsp;&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}


{% block pagescripts %}
{% endblock %}
