@import '../../../theme/variables.scss';

:global {
  
  .navbar {
    border: 0;
    background-color: $nav-bgcolor;
  
    .navbar-nav {
      > li > {
        a, a:focus {
          color: $nav-color;
        }
        a:hover {
          color: $nav-active-color;
        }
      }

      .dropdown-menu {
        border: none;
        padding: 0;

        li {
          a {
            padding: 10px 20px;
            background-color: $nav-bgcolor;
            color: $nav-color;
            outline: none;
          }
    
          a:hover  {
            color: $nav-active-color;
          }
        }

        li.disabled {
          a, a:hover, a:focus {
            color: $nav-disabled-color;
            cursor: default;
          }
        }  
      }

      li.active > {
        a, a:hover, a:focus {
          background-color: $nav-active-bgcolor !important;
          color: $nav-active-color;
        }
      }

      > li.open > {
        a, a:focus {
          background-color: $nav-bgcolor !important;
          color: $nav-color;
        }
        a:hover {
          color: $nav-active-color;
        }
      }
  
    }
  
    .navbar-toggle {
      .icon-bar {
        background-color: $nav-color;
      }    
    }

    .navbar-toggle:hover {
      .icon-bar {
        background-color: $nav-active-color;
      } 
    }
  
  }
  
}