@import '../../../theme/variables.scss';

.business {
  margin-bottom: 30px;

  :global(.logo-image) {
    margin: 15px 15px 15px 20px;
  }

  :global(.content) {
    width: calc(100% - 105px);
    height: 50px;
    margin: 15px 20px 15px 0;    
  }
}

.products {
  :global(.board) {
    text-align: center;
  }

  .product {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #ddd;
    margin: 30px 40px;
    font-weight: 700;
    border-radius: 5px;
    width: 200px;
    height: 250px;
  
    .credits {
      font-size: 23px;
    }
    .price {
      color: $primary-color;
      font-size: 38px;
      margin-bottom: 30px;
    }

    button {
      margin: 0 30px;
    }
  }
  
  .product:hover {
    border: 2px solid $primary-color;
  }

  .loading:hover {
    border: 2px solid #ddd;
  }
}
