@import '../../../theme/variables.scss';

.body {
  background-color: #f9f9f9;
  padding: 30px;

  .business {
    display: block;
    text-decoration: none !important;
    padding: 0 20px;
    margin: -1px 0;
  
    > div {
      display: flex;
      padding: 20px 0;
      margin: -1px 0;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
  
      img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        margin-right: 20px;        
      }
  
      .content {
        flex: 1;
        display: grid;
  
        .name {
          font-size: 16px;
          font-weight: 500;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        
        .token {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
  
  .business:hover {
    background-color: $list-item-hover-color;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    .name {
      color: $primary-color;
    }
  }

  .selected {
    background-color: $primary-color;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    .name {
      color: $text-color;
    }
  }

  .selected:hover {
    background-color: $list-item-selected-color;
    .name {
      color: #fff;
    }
  }
  
}


.footer {
  padding: 20px 30px;
  text-align: left;

  button:last-child {
    float: right;
  }
}
