@import '../../../theme/variables.scss';

.root {
  padding-bottom: 45px;

  :global(.board-shadow) {
    padding: 0;
  }
  
  .job {
    display: block;
    margin-bottom: 30px;
    text-decoration: none !important;
  
    img {
      float: left;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      margin: 15px 0 15px 20px;  
    }
  
    .content {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: calc(100% - 105px);
      height: 50px;
      margin: 15px 20px 15px 15px;
  
      > div, > div > div {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
  
      .info {
        display: flex;
        justify-content: space-between;
  
        div, span {
          color: $text-color2;
        }
        
        span {
          margin-left: 15px;
        }
      }
  
      .title {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  
  .applications {
    
    :global {
      .nav-tabs {
        padding-top: 20px;
        padding-left: 20px;
        border-bottom: 1px solid #a0a0a0;
  
        > li > a {
          padding: 7px 20px;
          background-color: transparent !important;
          border: none;
          border-bottom: 4px solid transparent;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 500;
          outline: none;
        }
  
        > li > a:hover {
          color: $primary-color;
        }
  
        > li.active > a {
          color: $primary-color;
          border: none;
          border-bottom: 4px solid $primary-color;
        }
      }
  
    }
  }

}