@import '../../../theme/variables.scss';

.root {

  :global(.board) {
    padding: 0;
  }
  
  .job {
    margin-bottom: 30px;

    :global(.logo-image) {
      margin: 15px 15px 15px 20px;
    }
  
    :global(.content) {
      width: calc(100% - 105px);
      height: 50px;
      margin: 15px 20px 15px 0;
    }
  
    span {
      color: $text-color2;
    }
    
    .fullName {
      width: calc(100% - 100px);
    }
    
    .tokens {
      width: 100px;
      text-align: right;
    }
  }
  
  .applications {
    
    :global {
      .nav-tabs {
        padding-top: 20px;
        padding-left: 20px;
        border-bottom: 1px solid #a0a0a0;
  
        > li > a {
          padding: 7px 20px;
          background-color: transparent !important;
          border: none;
          border-bottom: 4px solid transparent;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 500;
          outline: none;
        }
  
        > li > a:hover {
          color: $primary-color;
        }
  
        > li.active > a {
          color: $primary-color;
          border: none;
          border-bottom: 4px solid $primary-color;
        }
      }
  
    }
  }

}