[submodule "web/django"]
	path = web/django
	url = https://github.com/django/django.git
[submodule "web/django-rest-framework"]
	path = web/django-rest-framework
	url = https://github.com/tomchristie/django-rest-framework.git
[submodule "web/django-rest-auth"]
	path = web/django-rest-auth
	url = https://github.com/Tivix/django-rest-auth.git
[submodule "web/django-allauth"]
	path = web/django-allauth
	url = https://github.com/pennersr/django-allauth.git
[submodule "web/django-rest-framework-gis"]
	path = web/django-rest-framework-gis
	url = https://github.com/djangonauts/django-rest-framework-gis.git
