@import '../../../theme/variables.scss';

.job {
  h5 {
    width: calc(100% - 80px);
  }

  .distance {
    color: $text-color2;
    width: 80px;
    text-align: right;
  }
}

.paginationController {
  text-align: right;
  padding: 30px 0 10px 0;
}
