@import '../../../theme/variables.scss';

.root {
  
    form {
      :global(.form-group) {
        margin-bottom: 30px;
        
        label {
          margin-bottom: 10px;
        }
      }

      .withHelp {
        display: flex;

        > label:first-child {
          flex: 1;
        }
      }

      .withCheckbox {
        display: flex;

        > div:nth-child(1) {
          flex: 1;
        }
        > div:nth-child(2) {
          margin-top: 6px;
          margin-left: 30px;
        }
      }

      .active {
        display: flex;
        align-items: center;
  
        > label {
          margin-bottom: 0 !important;
          margin-right: 10px;
        }
      }

      .name {
        display: flex;

        > div:nth-child(1) {
          flex: 1;
          margin-right: 10px;
        }
        > div:nth-child(2) {
          flex: 1;
          margin-left: 10px;
        }
      }

      .cvButtons {
        display: flex;
        margin-top: 10px;
        align-items: center;

        div {
          flex: 1;
        }
  
        button {
          margin-right: 10px;
        }      
      }

      .cvComment {
        margin-top: 8px;
        margin-left: 3px;

        button {
          color: $text-color1;
        }
      }

      .checkBox {
        height: auto;
      }
    }
  
    .footer {
      > div {
        button {
          width: 145px;
          height: 40px;
          margin-right: 20px;
        }
      }
    }
  
  }
 