@import '../../theme/variables.scss';

.body {
  background-color: #f9f9f9;
  padding: 30px;

  :global {
    .board + .board {
      margin-top: 30px;
    }
  }

  hr {
    margin: 30px 0;
  }

  .info {
    display: flex;

    .content {
      flex: 1;
      margin-left: 30px;

      .title {
        display: flex;
        margin-bottom: 15px;

        h4 {
          flex: 1;
        }

        .distance {
          margin-left: 20px;
          margin-top: 4px;
        }

      }

      .businessName, .attributes {
        margin-bottom: 5px;
      }
      
    }
  }

  .overview {
    h4 {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  .overview {
    margin-bottom: 30px;
  }

}

.footer {
  padding: 20px 30px;
  text-align: left;

  button:last-child {
    float: right;
  }
}
