.container {
  max-height: calc(100vh - 275px);
  overflow-y: auto;

  .topContainer {
    display: flex;
    margin-bottom: 20px;
  
    >img {
      width: 120px;
      height: 120px;
      border: 1px solid #ccc;
    }
  
    .right {
      width: 100%;
      flex: 1;
      margin-left: 15px;
  
      .title {
        display: flex;
        h4 {
          flex: 1;
        }
        .distance {
          margin-top: 11px;
        }
      }
    
      .businessName {
        margin-bottom: 8px;
        font-size: 16px;
      }
      .attributes {
        color: #959595;
      }
  
    }
  }
  
  .description {
    margin-bottom: 20px;
    white-space: pre-line;
  }
  
  .mapContainer {
    height: 300px;
  }
}
