@import '../../theme/variables.scss';

.imageUploader {
  text-align: center;

  > div {
    cursor: pointer;
    width: 165px !important;
    height: 165px !important;

    > div {
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  button {
    margin-top: 5px;
    font-weight: 500;
  }
}

:global {
  .textareaLength {
    text-align: right;
    color: $text-color2;
    font-size: 12px;
  }

  .has-error {
    .textareaLength {
      display: none;
    }

    .help-block {
      margin-bottom: 0;
    }
  
    textarea + div + .help-block {
      margin-top: 0;
    }
  
    textarea, .Select-control {
      border-color: #a94442;
    }
  }  
}
