@import '../../../../theme/variables.scss';

.application {
  .star {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    background-color: #fff;
    left: 22px;
    top: 12px;
    font-size: 16px;

    i {
      color: $secondary-color;
    }
  }
}
