<tr data-application-id="<%= application.id %>"
	data-job-id="<%= application.job_data.id %>"
	class="application-list <%= inactiveClass %>"
	id="application-list-<%= application.id %>">
	<td><%= application.job_data.title %></td>
	<% if(isDeleted){ %>
	<td><%= application.job_seeker.first_name %> <%= application.job_seeker.last_name %></td>
	<% }else{ %>
	<td class="go-to-details"
	data-video="<%= video %>"
	data-job-id="<%= application.job_data.id %>"
	data-jobseeker-id="<%= application.job_seeker.id %>"
	data-application-id="<%= application.id %>">
	<%= application.job_seeker.first_name %> <%= application.job_seeker.last_name %></td>
	<% } %>
	<td><%= application.job_seeker.description %></td>
	<td <% if(!isDeleted){ %> data-job-id="<%= application.job_data.id %>" class="go-to-messages" <% } %>>
		<%= messageShort %>...<br>
		<span class="message-time-date"><%= messageTimeDate %></span>
	</td>
	<% if(isDeleted){ %>
	<td>Deleted</td>
	<% }else{ %>
	<td>
		<a class="delete-action-btn btn btn-primary" data-application-id="<%= application.id %>"><i class="fa fa-trash-o"></i></a>
	</td>
	<% } %>
</tr>
