@import '../../../../theme/variables.scss';

.business {
  display: block;
  text-decoration: none !important;
  padding: 0 30px;
  margin: -1px;
  border: 1px solid transparent;

  > div {
    display: flex;
    padding: 20px 0;
    margin-bottom: -1px;
    border-bottom: 1px solid $border-color;

    img {
      width: 80px;
      height: 80px;
      border-radius: 40px;
      margin-right: 20px;        
    }

    .content {
      flex: 1;
      display: grid;

      > div {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .name {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .controls {
      display: none;      
    }
  }
}

a.business:hover {
  background-color: $list-item-hover-color;
  border: 1px solid $border-color;

  > div {
    border-bottom: 1px solid transparent;

    .name {
      color: $primary-color;
    }
  
    .controls {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      margin-left: 5px;
  
      button {
        padding: 4px 12px;
        margin-top: 8px;
      }
  
      button:first-child {
        margin-top: 0;
      }
    }
  }
}

.business.selected, .business.selected:hover {
  cursor: initial;
  background-color: $list-item-selected-color;

  > div {
    border-bottom: 1px solid transparent;

    .name {
      color: $text-color;
    }
  }
}

div.business {
  cursor: initial;

  > div {
    position: relative;
    height: 122px;
    padding: 0;
  }
}
