@import '../../../../theme/variables.scss';

.root {
  padding: 45px;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    h4 {
      flex: 1;
    }

    a {
      font-size: 14px;
      font-weight: 500;
      color: $primary-color;
    }
  }

  form {
    .container1 {
      display: flex;
      
      .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 45px;

        :global(.form-group) {
          display: flex;
          align-items: center;
          margin-bottom: 30px;

          label {
            width: 50px;
            text-align: right;
            margin-right: 20px;
          }
          label + * {
            flex: 1;
          }
        }

        :global(.form-group:first-child) {
          align-items: normal;
          label {
            margin-top: 7px;
          }
        }
      }
    }
  }

  .footer {
    margin-top: 40px;
    
    button {
      width: 145px;
      height: 40px;
      margin-right: 20px;
    }
  }

}
