.itemContainer {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-decoration: none !important;
  cursor: pointer;

  >img {
    float: left;
    width: 60px;
    height: 60px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    height: 60px;
    padding-left: 20px;
    color: #959595;

    > div {
      display: flex;
      align-items: center;
      >span {
        flex: 1;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .title {
      margin: 2px 0;
      >span {
        margin-right: 5px;
        font-size: 20px;
        color: #333;
      }
    }

    .description {
      margin-top: 6px;
      button {
        padding: 0 5px;
      }
      button:last-child {
        padding-right: 0;
      }
    }
  }
}

.itemContainer:hover {
  background-color: #eee;
}

.itemContainer:last-child {
  border-bottom: none;
}

.emptyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: #959595;
  text-align: center;
}
