@import '../../../theme/variables.scss';

.root {
  text-align: center;
  padding: 15px 0;

  :global(.board) {
    display: inline-block;
    width: 350px;
    
    h3 {
      margin-top: 0;
      margin-bottom: 35px;
      text-transform: uppercase;
      text-align: left;
    }

    form {
      button {
        width: 100%;
        margin-top: 10px;
      }

      :global {
        .form-group:last-child {
          margin-bottom: 0;

          .has-error .help-block {
            display: none;
          }
          .has-error:last-child .help-block {
            display: block;
          } 
        }
      }      
    }

  }

  :global(.board:last-child) {
    padding: 12px 0;
    margin-top: 15px;
    text-align: center;
    background-color: transparent;
  }

}