.SumoSelect {
    display: block;
    width: 100%;
}

.SumoSelect > .CaptionCont {
    border-radius: 8px;
    border: 1px solid #ccc;
}

.SumoSelect > .optWrapper.multiple > .options li.opt.selected span i, .SumoSelect .select-all.selected > span i, .SumoSelect .select-all.partial > span i {
    background-color: #337ab7;
}