@import '../../../theme/variables.scss';

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  position: relative;
  margin-top: 50px;
  padding: 45px 0;
  background-color: #f9f9f9;

  :global(.alert) {
    width: 300px;
  }
}

.popup {
  :global {
    .modal-body p {
      white-space: pre-line;
    }
    .modal-footer button {
      min-width: 100px;
      margin-left: 15px !important;
    }
  }
}
