@import '../../../theme/variables.scss';

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  position: relative;
  margin-top: 50px;
  padding: 45px 0;
  background-color: #f9f9f9;

  :global(.alert) {
    width: 300px;
  }
}

.popup {
  :global {
    .modal-body p {
      white-space: pre-line;
    }
    .modal-footer button {
      min-width: 100px;
      margin-left: 15px !important;
    }
  }
}


.globalLoading {
  display: flex !important;
  justify-content: center;
  align-items: center;

  :global {
    .modal-dialog {
      width: auto;
      margin: 0;

      .modal-content {
        background-color: transparent;
        border: none;
        box-shadow: none;
        text-align: center;
        color: #e0e0e0;

        .spinner {
          height: 50px;
          margin-bottom: 70px;
          margin-top: -70px;
        }

        .progress {
          width: 300px;
          background-color: rgba(0,0,0,0.1);
        }
      }      
    }
  }
}

