body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: #f9f9f9;
}

nav {
    background: #333;
    padding: 0.7em 0;
    margin-bottom: 2em;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 990px;
    }
}


h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
}

.btn {
    background-color: #00b6a4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background: #00cebc;
}

form .form-row {
    margin-bottom: 1em;
}

form .errorlist {
    color: #ff7f00;
    margin-left: 12em;
    margin-bottom: 0.2em;
    padding-left: 0.2em;
}
form label {
    display: inline-block;
    font-weight: bold;
    width: 12em;
}
form input[type=password] {
    width: 20em;
    padding: 0.5em;
}

form .btn {
    margin-left: 12.3em;
    margin-bottom: 0.2em;
}