@import '../../theme/variables.scss';

.body {
  background-color: #f9f9f9;
  padding: 30px;

  :global {
    .board + .board {
      margin-top: 30px;
    }
  }

  hr {
    margin: 30px 0;
  }

  .info {
    display: flex;
  
    .content {
      flex: 1;
      margin-left: 30px;

      .name {
        display: flex;

        h4 {
          flex: 1;
          margin-top: 0;
          margin-bottom: 15px;
        }

        .shortlisted {
          margin-left: 20px;
        }

        .loading {
          position: relative;
          width: 100px;
          height: 20px; 
        }
      }

      .subTitle {
        margin-bottom: 5px;
      }

      button {
        display: flex;
        align-items: center;
        color: $text-color;
        padding: 0;
        font-size: 15px;

        i {
          color: $primary-color;
          font-size: 30px;
          margin-right: 5px;
        }
      }
    }
  }

  .overview, .contact {
    h4 {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  .overview {
    margin-bottom: 30px;

    button {
      margin-top: 20px;
    }
  }

  .available, .truthful, .nationality {
    display: flex;
    margin-top: 10px;

    i {
      color: $secondary-color;
      margin-right: 5px;
      font-size: 18px;
    }
  }

}

.footer {
  padding: 20px 30px;
  text-align: left;

  button:last-child {
    float: right;
  }
}
