.topContainer {
  display: flex;
  margin-bottom: 20px;

  >img {
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
  }

  .right {
    margin-left: 15px;

    >div {
      display: flex;
      align-items: center;
    }

    >button {
      display: flex;
      align-items: center;
      color: #333;
      padding: 0;
      margin-top: 15px;
      font-size: 15px;
      i {
        color: #00b6a4;
        font-size: 30px;
        margin-right: 5px;
      }
    }
  }
}

.overview {
  margin-bottom: 20px;
  >div, >button {
    margin-bottom: 10px;
  }
  .available, .truthful {
    display: flex;
    i {
      color: #ff9300;
      margin-right: 5px;
      font-size: 18px;
    }
  }
}
