@import '../../theme/variables.scss';

.searchBar {
  position: relative;

  input {
    padding: 6px 30px;
  }

  i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: $text-color1;
  }

  button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    color: $text-color1;
  }
}