@import '../../../theme/variables.scss';

.root {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;

  > div {
    width: 100%;
    height: 100%;
  }

  .sidebarController {
    .mask {
      position: absolute;
      z-index: 1;
      top: 1px;
      bottom: 1px;
      left: 1px;
      right: 1px;
      background-color: rgba(0,0,0,0.5);
    }
  
    .appList {
      position: absolute;
      z-index: 2;
      width: 300px;
      top: 1px;
      bottom: 1px;
      left: 1px;
      background-color: #fff;
      border-right: 1px solid $border-color;
    
      > div:first-child {
        align-items: center;
        height: 70px;
        padding: 0 15px;
        border-bottom: none;
      }
    
      > div:last-child {
        flex: 1;
        overflow-y: auto;
      }
    
      .application {
        :global(.logo-image) {
          margin: 8px 8px 8px 10px;
        }
      
        :global(.content) {
          width: calc(100% - 78px);
          height: 50px;
          margin: 8px 10px 8px 0;
        }
  
        span {
          font-size: 12px;
        }
  
        h5 {
          width: calc(100% - 70px);
        }
        
        .date {
          width: 70px;
          color: $text-color2;
          text-align: right;
        }
  
        .subTitle {
          color: $text-color1;
        }
  
        .message {
          color: $text-color2;
        }
  
        + .application::before {
          margin: 0 10px;
          border-top-color: $list-item-hover-color;
        }
      }
    }
  }

  .threadContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
    .threadHeader {
      display: flex;
      border-bottom: 1px solid $border-color;
  
      button {
        width: 40px;
        font-size: 20px;
      }
  
      > div {
        width: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 70px;
        padding-right: 25px;
        
        a {
          display: block;
          text-decoration: none;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
    
        h4 {
          a, a:hover {
            color: $secondary-color;
          }
        }
      }
    }

    .threadContent {
      flex: 1;
    }
  }

  @media (min-width: 780px) {
    .sidebarController {
      display: block !important;

      .mask {
        display: none !important;
      }
    }
    
    .threadContainer {
      padding-left: 300px;

      .threadHeader {
        button {
          display: none;
        }

        > div {
          width: 100%;
          padding-left: 25px;
        }
      }
    }
  }
}