{% extends "mjp_jobseeker_base.html" %}


{% block page-title %}<h2 class="page-header">Please re-enter your password</h2>{% endblock %}


{% block content %}
  <div class="col-sm-7 col-sm-offset-1">
    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    <form role="form"  action="." method="post" id="password-reset-confirm">
      <div class="form-group">
        <label>Current password:</label>
        {{ form.old_password.errors }}
        <input type="password" class="form-control" name="old_password" id="old_password">
      </div>

      <div class="form-group">
        <label>New password:</label>
        {{ form.new_password1.errors }}
        <input type="password" class="form-control" name="new_password1" id="new_password1">
      </div>

      <div class="form-group">
        <label>Confirm password:</label>
        {{ form.new_password2.errors }}
        <input type="password" class="form-control" name="new_password2" id="new_password2">
      </div>

      <button type="submit" class="btn btn-primary">Change my password</button>
      {% csrf_token %}
    </form>
  </div>
{% endblock %}


{% block pagescripts %}
<script src="/static/web/js/mjp-scripts/password-change.js"></script>
{% endblock %}
