{% extends "mjp_base.html" %}


{% block page-title %}
<div class="row page-title">
  <div class="col-xs-12">
    <h2><strong>Password reset sent</strong></h2>
  </div>
</div>
{% endblock %}


{% block content %}
  <div class="col-xs-9">
    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    <h6>Your password was changed.</h6>

    <br />
  </div>
{% endblock %}


{% block extra_content %}
{% endblock %}
