{% extends "mjp_base.html" %}


{% block page-title %}
<div class="row page-title">
  <div class="col-xs-12">
    <h2><strong>Enter new password</strong></h2>
  </div>
</div>
{% endblock %}


{% block content %}
  <div class="col-xs-12">
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form role="form"  action="." method="post" id="password-reset-confirm">

      <div class="form-group">
          <label>New password:</label>
          {{ form.new_password1.errors }}
          <input type="password" class="form-control" name="new_password1" id="new_password1">
      </div>

      <div class="form-group">
          <label>Confirm password:</label>
          {{ form.new_password2.errors }}
          <input type="password" class="form-control" name="new_password2" id="new_password2">
      </div>

      <button type="submit" class="btn btn-primary">Change my password</button>
      {% csrf_token %}
    </form>
  </div>
{% endblock %}


{% block extra_content %}
{% endblock %}
