{% extends "mjp_user_base.html" %}


{% block page-title %}
<div class="row page-title">
  <div class="col-xs-12">
    <h2><strong>Please re-enter your password</strong></h2>
  </div>
</div>
{% endblock %}


{% block content %}
  <div class="col-xs-6 change-password content">
    <form role="form"  action="." method="post" id="password-reset-confirm">
      <div class="form-group">
        <h3><strong>Email</strong></h3>
        <h4 id="email"></h4>
        <a class="sclabs-theme" href="javascript:logoutUser();"><h5><strong>This is not me</strong></h5></a>
      </div>

      <br />

      <div class="form-group">
        <h3><strong>Password</strong></h3>
      </div>

      <div class="form-group">
        {{ form.old_password.errors }}
        <input type="password" class="form-control" name="old_password" id="old_password" placeholder="old password">
      </div>

      <div class="form-group">
        {{ form.new_password1.errors }}
        <input type="password" class="form-control" name="new_password1" id="new_password1" placeholder="new password">
      </div>

      <div class="form-group">
        {{ form.new_password2.errors }}
        <input type="password" class="form-control" name="new_password2" id="new_password2" placeholder="confirm password">
        <a class="sclabs-theme" href="/password-reset/"><h5><strong>Forgot password?</strong></h5></a>
       </div>

      <div class="row">
        <br />
      </div>

      <div class="row">
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary sclabs-theme">&nbsp;&nbsp;&nbsp;&nbsp;Continue&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div>
        <div class="col-xs-6 col-xs-offset-2 text-right">
          <a class="sclabs-theme" href="javascript:logoutUser();"><h5><strong>Cancel and Sign Out</strong></h5></a>
        </div>
      </div>
      {% csrf_token %}
    </form>
  </div>
{% endblock %}


{% block pagescripts %}
<script src="/static/web/js/mjp-scripts/password-change.js"></script>
{% endblock %}
