@import "~font-awesome/scss/font-awesome.scss";
@import '~react-select/scss/default.scss';
@import 'variables.scss';

body {
  letter-spacing: 0.04em;
}

button {
  letter-spacing: 0.04em;
}

a, a:hover, a:focus {
  color: $text-color;
  outline: none;
  cursor: pointer;
}

input {
  -webkit-appearance: none;
  outline: $primary-color;
}

textarea {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid $border-color;
  border-radius: 4px;
  resize: none;
  outline: none;
}

h4 {
  font-size: 21px;
  font-weight: 400;
  margin: 0;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}
 
.padding-30 {
  padding: 30px;
}

.padding-45 {
  padding: 45px;
}

.description {
  white-space: pre-line;
}

/******************************************/
// page
/******************************************/

.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  h3 {
    margin: 0;
    text-transform: uppercase;
  }
}

.board {
  border: 1px solid $border-color;
  border-radius: 2px;
  background-color: #fff;
  text-align: left;
}

.shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

/******************************************/
// link button
/******************************************/
 
.link, .link:hover {
  font-weight: 500;
  color: $primary-color;
}

.link-btn {
   background-color: transparent;
   color: $primary-color;
   border: none;
   outline: none;
}
 
.link-btn:hover {
  // opacity: 0.7;
}

/******************************************/
// list item
/******************************************/

.list-item {
  position: relative;
  display: block;
  text-decoration: none !important;
  // overflow: hidden;

  .logo-image {
    float: left;
    margin: 20px 20px 20px 30px;
  }

  .content {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(100% - 160px);
    height: 80px;
    margin: 20px 30px 20px 0;

    h5, span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    div {
      display: flex;
    }
  }

  .controls {
    position: absolute;
    display: none;//display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    top: 0;
    bottom: 0;
    right: 0;//-150px;
    padding: 0 30px;
    background-color: rgba(255,255,255,0.75);
    // transition: right 0.3s ease;

    button {
      padding: 4px 12px;
      margin: 5px 0;
    }
  }

  + .list-item {
    .controls {
      border-top: 1px solid $border-color;
    }
  }

  + .list-item::before {
    content: '';
    display: block;
    border-top: 1px solid $border-color;
    margin: 0 30px;
  }
}

/* hover status */

a.list-item:hover {
  background-color: $list-item-hover-color;

  .controls {
    display: flex;//right: 0;
  }
}

a.list-item:hover::before,
a.list-item:hover + .list-item::before {
  margin: 0;
}

/* disabled status */

.list-item.disabled {
  background-color: $list-item-disabled-color;

  .logo-image, .content {
    opacity: 0.5;
  }

  h5, span {
    text-decoration-line: line-through;
  }
}

.list-item.disabled::before,
.list-item.disabled + .list-item::before {
  margin: 0 !important;
}

/* selected status */

.list-item.selected,
.list-item.selected:hover {
  background-color: $list-item-selected-color;
}

.list-item.selected::before,
.list-item.selected + .list-item::before {
  border-top-color: transparent !important;
}

/* loading... */

div.list-item > div {
  position: relative;
  height: 120px;
}

/******************************************/
// popover
/******************************************/

#popover-help {
  border: 1px solid $border-color;
  border-radius: 4px;

  .arrow {
    border-bottom-color: $border-color !important;
  }
}

/******************************************/
// bootstrap
/******************************************/

.form-control[disabled] {
  background-color: #f8f8f8;
}  
 
.modal .modal-dialog {
  margin-top: 70px;
}

/******************************************/
// image orientation (exif)
/******************************************/
 
.exif_3 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.exif_6 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.exif_8 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

/******************************************/
// notification system
/******************************************/
 
.notifications-tr {
  top: 50px !important;

  .notification-success {
    background-color: #dff0d8 !important;
    border-top: 2px solid #3c763d !important;
    box-shadow: #3c763d 0px 0px 1px !important;
    color: #3c763d !important;
    .notification-dismiss {
      background-color: #9dba9d !important;
      color: #dff0d8 !important;
    }
  }

  .notification-error {
    background-color: #f2dede !important;
    border-top: 2px solid #a94442 !important;
    box-shadow: #a94442 0px 0px 1px !important;
    color: #a94442 !important;
    .notification-dismiss {
      background-color: #d4a1a0 !important;
      color: #f2dede !important;
    }
  }
}