/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

 // Custom Colors

$primary-color: #00b6a4;
$secondary-color: #ff9300;

$border-color: #e0e0e0;

$list-item-selected-color: rgba(0,182,164,0.5);
$list-item-hover-color: #f4f4f4;
$list-item-disabled-color: #f0f0f0;

$text-color1: #656565;
$text-color2: #959595;
$text-color3: #ccc;

$nav-bgcolor: #333;
$nav-color: #9d9d9d;
$nav-active-bgcolor: #272727;
$nav-active-color: #fff;
$nav-disabled-color: #444;

// Bootstrap Variables

$text-color: #333;

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;

$btn-success-bg: $primary-color;
$btn-warning-bg: $secondary-color;

