@import '../../theme/variables.scss';

.itemList {
  display: flex;
  flex-direction: column;
  
  .header {
    display: flex;
    padding: 30px;
    border-bottom: 1px solid $border-color;
  
    .searchbar {
      flex: 1;
    }
    
    > button {
      margin-left: 15px;
    }
  }
  
  .loading {
    position: relative;
    height: 241px;
  }
  
  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 241px;
    font-size: 16px;
    
    span {
      display: block;
      white-space: pre-line;
      color: $text-color2;
    }
  
    button {
      margin-top: 15px;
    }
  }
}