{% extends "mjp_home_base.html" %}


{% block content %}
    <div class="about page col-xs-12">
    <h1 class="text-center">About Us</h1>
    <p class="lead text-center"><em>MyJobPitch.com: resolving the age-old problems of recruiting for the hospitality, retail and service industries, with one revolutionary platform.</em></p>
    <p>For too long hiring across the hospitality, retail and service industries has been beset with issues. Businesses become embroiled in time-consuming and often structure lacking recruitment processes – and must invest resources in interviews that, more often than not, lead to no job position offer whatsoever.</p>
    <p>MyJobPitch was established to overcome each and every last one of these problems.</p>
    <p><u>For recruiters</u>, we offer access to thousands of job seekers who each provide information critical to your hiring decisions – read CVs and view candidates’ 30 second pitch videos. Just interview candidate that actually can get the Job.</p>
    <p><u>For job seekers</u>, we provide a platform for connecting with the right recruiters spanning the hospitality, retail and the service industry . For discovering your next job role without the hassle and free from the need of registering with tens of differing websites and running around handing in CV every were.</p>
    <p><strong>This is the recruitment industry, revolutionised.</strong></p>

    <p><span style="font-size:18px;">✔</span> Easy-to-use, intuitive interface – for desktop and mobile</p>
    <p><span style="font-size:18px;">✔</span> 30 Second job video pitches</p>
    <p><span style="font-size:18px;">✔</span> Connections made between employer and candidate – with details only released when both parties agree</p>
    <p><span style="font-size:18px;">✔</span> High quality employers, high calibre employees</p>

    <p class="lead text-center" style="margin-top: 50px;"><em>We’re eliminating efficiencies from the recruitment process for retail, hospitality and service businesses – doing away with the random and completely eradicating the unknown.</em></p>
    <p class="lead text-center" style="margin-top: 25px;"><em>For better job seeking. For better candidate hunting.</em></p>

    <!-- h2 class="download-tag text-center">Download app on</h2>
    <p class="text-center"><img src="/static/web/design/images/androidappstore.png"></p>
    <p class="text-center"><img src="/static/web/design/images/appleappstore.png"></p -->

  </div>
  <!-- /.container-fluid -->

{% endblock %}
