{% extends "mjp_home_base.html" %}

{% block extra_head %}
  <!-- Custom CSS -->
  <link href="/static/web/design/css/howitworks.css" rel="stylesheet">
{% endblock %}


{% block page-title %}
{% endblock %}


{% block content %}
  <div class="how-it-works page col-xs-12 text-center">
    <h1 class="text-center">How It Works</h1>
    <p class="subtitle">Welcome to your next job role – here’s where you meet the perfect employer</p>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/static/web/design/images/video-placeholder_2-thumbnail.jpg" alt="set up your profile">
          <div class="caption">
            <h3>REGISTER</h3>
            <p>Create your profile -  upload your CV, write a short CV overview with key skills and other information that portrays you as the illustrious candidate you are.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/static/web/design/images/video-placeholder_1-thumbnail.jpg" alt="...">
          <div class="caption">
            <h3>RECORD YOUR PITCH</h3>
            <p>Then sit back and relax as employers contact you to invite you to an interview, or hire you right there, and right then. What could be simpler?</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/static/web/design/images/slide-1-thumbnail.jpg" alt="...">
          <div class="caption">
            <h3>GET HIRED</h3>
            <p>Browse through high calibre candidates – view pitch videos, explore key information that’s relevant to your criteria, read CVs and decide whether to interview or hire on sight.</p>
          </div>
        </div>
      </div>
    </div>

    <h2>Seek and discover your hospitality, retail or services position</h2>
    <p>As a worker in any of these industries, you often face tens of differing websites when it comes to discovering your next position. With MyJobPitch, that search stops here. Recruiters come to us as we provide real insight into potential candidates – for which your pitch will prove pivotal to securing your next position – so take charge and make it count!</p>

    <h2 class="download-tag">Download app on</h2>
    <p class="text-center"><img src="/static/web/design/images/androidappstore.png"></p>
    <p class="text-center"><img src="/static/web/design/images/appleappstore.png"></p>

  </div>

{% endblock %}

