@import '../../../theme/variables.scss';

.dialog {
  :global(.modal-dialog) {
    width: 350px;

    h3 {
      margin-top: 0;
      margin-bottom: 35px;
      text-transform: uppercase;
      text-align: left;
    }

    button {
      width: 100%;
      margin-top: 10px;  
    }
  }
}
