@import '../../../theme/variables.scss';

.root {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;

  > div {
    display: flex;
    height: 100%;
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-right: 1px solid $border-color;
  
    .jobFilter {
      display: flex;
      align-items: center;
      height: 70px;
      padding: 0 15px;

      > div {
        width: 100%;
      }
    }
  
    .appList {
      flex: 1;

      > div:first-child {
        padding: 15px;
        border-bottom: none;
      }
    
      > div:last-child {
        flex: 1;
        overflow-y: auto;
      }
    
      .application {
        :global(.logo-image) {
          margin: 8px 8px 8px 10px;
        }
      
        :global(.content) {
          width: calc(100% - 78px);
          height: 50px;
          margin: 8px 10px 8px 0;
        }

        span {
          font-size: 12px;
        }
      
        h5 {
          width: calc(100% - 70px);
        }
        
        .date {
          width: 70px;
          color: $text-color2;
          text-align: right;
        }
    
        .subTitle {
          color: $text-color1;
        }

        .message {
          color: $text-color2;
        }

        + .application::before {
          margin: 0 10px;
          border-top-color: $list-item-hover-color;
        }
      }
    }
  }
}