@import '../../../theme/variables.scss';

.root {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .content {
    flex: 1;
    padding: 25px 15px;
    overflow-y: auto;
  
    .bubble {
      display: inline-block;
      border-radius: 5px;
      box-shadow: 0 0 6px #B2B2B2;
      padding: 10px 18px;
      position: relative;
      white-space: pre-line;
      color: #fff;
      text-align: left;
    }
  
    .bubble::before {
      content: "\00a0";
      height: 16px;
      position: absolute;
      top: 11px;
      transform:             rotate( 29deg ) skew( -35deg );
          -moz-transform:    rotate( 29deg ) skew( -35deg );
          -ms-transform:     rotate( 29deg ) skew( -35deg );
          -o-transform:      rotate( 29deg ) skew( -35deg );
          -webkit-transform: rotate( 29deg ) skew( -35deg );
      width:  20px;      
    }
  
    .time {
      font-size: 12px;
      color: $text-color2;
      margin-top: 5px;
    }
    
    .you {
      display: flex;
      margin-bottom: 10px;
      margin-right: 90px;
      .message {
        margin-left: 25px;
      }
      .bubble {
        background-color: $secondary-color;
      }
      .bubble::before {
        box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
        left: -9px;
        background-color: $secondary-color;         
      }
    }
  
    .me {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
      margin-left: 90px;
      text-align: right;
      .message {
        margin-right: 25px;
      }
      .bubble {
        background-color: $primary-color;
      }
      .bubble::before {
        box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
        right: -9px;
        background-color: $primary-color;         
      }
    }
  
  }
  
  .input {
    align-items: flex-end;
    padding: 15px;
    border-top: 1px solid $border-color;

    textarea {
      width: calc(100% - 80px);
      float: left;
    }

    button {
      margin-left: 15px;
    }
  }
  
}