@import '../../../theme/variables.scss';

footer {
  padding: 50px 0;
  background-color: $nav-bgcolor;
  color: $nav-color;
  text-align: center;

  a, a:focus {
    color: $nav-color;
  }
  a:hover {
    color: $nav-active-color;
  }

  .menu {
    a {
      display: inline-block;
      margin: 5px 15px;
    }
  }

  .follow {
    padding-top: 15px;

    a {
      margin: 0 10px;
    }
  }

  .company {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    img {
      margin-right: 15px;
    }

    span {
      margin-left: 15px;
    }
  }
}
