@import '../../theme/variables.scss';

.videoContainer {
  position: relative;
  text-align: center;
  margin-top: 5px;

  video {
    width: 480px;
    height: 360px;
    background-color: #000;  
  }

  .recLabel {
    position: absolute;
    width: 60px;
    padding: 2px;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
    border-radius: 2px;
    color: white;
    text-align: center;
  }
}

.footerContainer {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 5px;

  button {
    width: 150px;
    margin: 6px;
  }

  .error {
    padding: 13px 0;
    color: #a94442;
  }
}
