@import '../../../theme/variables.scss';

.root {
  width: 300px;
  border-right: 1px solid $border-color;

  > div:first-child {
    align-items: center;
    height: 70px;
    padding: 0 15px;
    border-bottom: none;
  }

  > div:last-child {
    flex: 1;
    overflow-y: auto;
  }

  .application {
    display: block;
    text-decoration: none !important;
    padding: 0 10px;
    margin: -1px 0;
  
    > div {
      display: flex;
      padding: 8px 0;
      margin: -1px 0;
      border-bottom: 1px solid $list-item-hover-color;
  
      img {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        margin-right: 8px;        
      }
  
      .content {
        flex: 1;
        display: grid;
  
        .name {
          display: grid;
          margin-bottom: 3px;
          
          div {
            grid-row: 1;
            margin-right: 10px;
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
  
          span {
            grid-row: 1;
            margin-top: 2px;
            font-size: 12px;
            text-align: right;
            white-space: nowrap;
            color: $text-color2;
          }
        }
  
        .subTitle {
          color: $text-color1;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .message {
          color: $text-color2;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
  
  .application:hover {
    background-color: $list-item-hover-color;
    
    .name > div {
      color: $primary-color;
    }
  }

  .application.selected, .application.selected:hover {
    cursor: initial;
    background-color: rgba(0,182,164,0.4);
  
    > div {
      .name > div {
        color: $text-color;
      }
    }
  }
  
  .application.deleted {
    text-decoration-line: line-through !important;
  
    > div {
      opacity: 0.5;
  
      .name > div {
        color: $text-color;
      }
    }
  }

}