.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  // overflow-y: auto;

  .header {
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    height: 70px;
    justify-content: center;
  }

  .content {
    flex: 1;
    padding: 25px 15px;
    overflow-y: auto;
  
    img {
      min-width: 40px;
      min-height: 40px;
      max-width: 40px;
      max-height: 40px;
      border-radius: 20px;
    }
  
    .bubble{
      display: inline-block;
      border-radius: 5px;
      box-shadow: 0 0 6px #B2B2B2;
      padding: 10px 18px;
      position: relative;
      white-space: pre-line;
      color: #fff;
      text-align: left;
    }
  
    .bubble::before {
      content: "\00a0";
      height: 16px;
      position: absolute;
      top: 11px;
      transform:             rotate( 29deg ) skew( -35deg );
          -moz-transform:    rotate( 29deg ) skew( -35deg );
          -ms-transform:     rotate( 29deg ) skew( -35deg );
          -o-transform:      rotate( 29deg ) skew( -35deg );
          -webkit-transform: rotate( 29deg ) skew( -35deg );
      width:  20px;      
    }
  
    .time {
      font-size: 12px;
      color: #959595;
      margin-top: 5px;
    }
    
    .you {
      display: flex;
      margin-bottom: 10px;
      margin-right: 90px;
      >div {
        margin-left: 25px;
      }
      .bubble {
        background-color: #ff9300;
      }
      .bubble::before {
        box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
        left: -9px;
        background-color: #ff9300;         
      }
    }
  
    .me {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
      margin-left: 90px;
      text-align: right;
      >div {
        margin-right: 25px;
      }
      .bubble {
        background-color: #00b6a4;
      }
      .bubble::before {
        box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
        right: -9px;
        background-color: #00b6a4;         
      }
    }
  
  }
  
  .input {
    display: flex;
    align-items: flex-end;
    padding: 15px;
    border-top: 1px solid #e0e0e0;

    textarea, div {
      flex: 1;
      resize: none;
      outline: none;
      border: 1px solid #e0e0e0;
      padding: 5px;
    }
    div {
      align-items: center;
      color: #959595;
    }

    button {
      margin-left: 15px;
    }
  }
  
}